* {margin: 0; padding: 0;}
li {list-style: none;}
a { text-decoration: none;}
img { display: block;}


.header {
    width: 1300px;
    margin: 0 auto;
}

.header .header_first_line .logo_box {
    display: flex;
    justify-content: center;
}

.header .header_first_line .gnb {
    float: right;
}