* {margin: 0; padding: 0;}
li {list-style: none;}
a { text-decoration: none; color: #333;}
img { display: block;}
h3 {
    font-family: 'Alata', sans-serif; 
    font-size: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

.header {
    width: 1300px;
    margin: 0 auto;
}

.header .header_first_line {
    position: relative;
    margin-top: 20px;
}

.header .header_first_line .logo_box {
    width: 250px;
    height: auto;
    margin: 0 auto;
}

.header .header_first_line .logo_box img {
    width: 250px;
}

.header .header_first_line .gnb {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}

.header .header_first_line .gnb li {
    margin: 0 8px;
    line-height: 64px;
    font-family: 'Alata', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

#search {
    border: none;
    border-bottom: 1px solid #333;
    width: 50px;
    transition: 0.5s;
}

#search:focus {
    width: 200px;
    border: none;
    border-bottom: 1px solid #333;
    padding: 3px 5px;
    margin-right: 3px;
    outline: none;
}

.header .header_first_line .gnb .search_box button {
    background-color: white;
    border: none;
    color: none;
}

.header .header_first_line .gnb .search_box button i {
    font-size: 18px;
    cursor: pointer;
}


/* header_first_line */




/* lnb */


.header .lnb .lnbMenu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 40px;

    /* border: 1px solid #333; */
}

.header .lnb .lnbMenu li {
    flex: 1;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    /* line-height: 40px; */
    position: relative;
}

.header .lnb .Menu_list {
    position: absolute;
    z-index: 10;
    width: 1300px;
    display: flex;
    background-color: rgba(51, 51, 51, 0.7);
    height: 0;
    transition: 0.4s;
    overflow: hidden;

    /* border: 1px solid #333; */
}

.header .lnb .Menu_list a {
    color: white;
}

.header .lnb .Menu_list li {
    flex: 1;
    text-align: center;
    line-height: 30px;
}

.header .lnb .Menu_list li ul {
    margin-top: 15px;
}

.header .lnb .Menu_list li ul li:hover a {
    color: #333;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    padding: 5px 20px;
    /* text-decoration: underline; */
}
.header .lnb .Menu_list li ul .sg:hover a {
    padding: 5px 10px;
}



/* lnb */

/* main */





/* main */


nav {
    position: fixed;
    top: 60%;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
}

.nav_inner .Quick_button_box {
    background-color: white;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 12px;
    cursor: pointer;
    position: relative;
}
.nav_inner .Quick_bottom_box {
    border-bottom: 1px solid #ccc;
}

.nav_inner .Quick_button_box .title_tag {
    position: absolute;
    background-color: rgba(51, 51, 51, 0.8);
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    right: 60px;
    top: 0;
    border-radius: 3px;
    z-index: -2;

    transition: 0.3s;
    opacity: 0;
}
.nav_inner .Quick_button_box:hover .title_tag {
    opacity: 1;
}

.nav_inner .Quick_button_box i {
    font-size: 20px;
    opacity: 0.7;
}
.nav_inner .Quick_button_box:hover i {
    opacity: 1;
}




#Quick_search_open_btn {display: none;}

.nav_inner .Quick_search_box label {cursor: pointer;}
.nav_inner .Quick_search_box .search_sheet {
    position: absolute;
    width: 300px;
    height: 200px;
    top: -1px;
    left: -302px;
    z-index: -1;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;

    /* display: none; */
}
#Quick_search_open_btn:checked ~ .Quick_search_box {
    border-left: none;
}
#Quick_search_open_btn:checked ~ .Quick_search_box .search_sheet {
    display: block;
}

.nav_inner .Quick_search_box .search_sheet .search_sheet_inner .search_box_outer {
    border: 1px solid #333;
    width: 250px;
    display: flex;
    justify-content: space-between;
}



/* main */






/* main_visual */

.main_visual .swiper {
}

.main_visual .swiper {
    width: 1400px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.main_visual .swiper .swiper-wrapper .swiper-slide {
    width: 400px;
    height: 400px;
}

.main_visual .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
}

.main_visual .swiper .scrollbar {
}



/* main_visual */


.main_section {
    width: 1300px;
    margin: 0 auto;

    /* border: 1px solid #333; */
}


/* ----------------visual_categories------------------ */

.visual_categories {
    margin-top: 80px;
}
.visual_categories h3 {
    font-family: 'Alata', sans-serif; 
    font-size: 30px;
    text-align: center;
}
.visual_categories h3::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: #333;
    margin: 5px auto;
}

.visual_categories h4 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.visual_categories ul {
    display: flex;
    justify-content: space-between;
}

.visual_categories .categories li {
    font-family: 'Alata', sans-serif; 
    flex: 1;
    /* width: 244px;
    height: 244px; */
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 18px;
    line-height: 40px;
}

.visual_categories .categories .last {
    margin-right: 0;
}

.visual_categories .categories li:hover {
    /* transform: scale(1.1); */
    transform: translateY(-20px);
}

.visual_categories ul li .categories_img {
    overflow: hidden;
    box-shadow: 0 5px 10px #d8d8d8cc;
    margin-bottom: 5px;
}

.visual_categories ul li .categories_img img {
    width: 100%;
}


/* ----------------visual_categories------------------ */


/* ----------------banner------------------ */


.banner .banner_img {
    margin: 100px 0;
}

.banner .banner_img img {
    width: 100%;
}


/* ----------------banner------------------ */



/* ----------------item_list------------------ */

.item_list h3 {
    margin-bottom: 30px;
}

.item_list h3::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 30px;
    vertical-align: middle;
    background-color: #333;
    margin-right: 10px;
}

.item_list .swiper {
    padding-top: 20px;
}

.item_list .swiper .swiper-wrapper {
    margin-bottom: 100px;
    overflow-y: visible;
}

.item_list .swiper .swiper-wrapper .swiper-slide {
    border: 1px solid rgba(128, 128, 128, 0.3);
    box-sizing: border-box;
    height: 470px;
    transition: 0.3s;
}

.item_list .swiper .swiper-wrapper .swiper-slide:hover {
    transform: scale(1.05);
}
.item_list .swiper .swiper-wrapper .swiper-slide:hover .text .title {
    text-decoration: underline;
}

.item_list .swiper .swiper-wrapper .swiper-slide a {}

.item_list .swiper .swiper-wrapper .swiper-slide a .product_img {
    width: 100%;
    height: 244px;
    overflow: hidden;
}

.item_list .swiper .swiper-wrapper .swiper-slide a .product_img img {
    width: 100%;
    /* height: 310px; */
    height: 244px;
}

.text {
    padding: 10px;
    position: relative;
    width: 95%;
    height: 300px;
}

.text .title {
    font-size: 19px;
    line-height: 22px;
    font-weight: bold;
}


.text .badge {
    color: purple;
    border: 1px solid purple;
    display: inline-block;
    padding: 0 2px;
    margin: 10px 0 5px;
    font-size: 15px;
}

.text .text_inner {
    position: absolute;
    bottom: -10px;
    left: 10px;
    width: 100%;
    height: 200px;
}

.text .text_inner .cost {
    text-decoration: line-through;
    font-size: 18px;
}

.text .text_inner .price {
    font-weight: bold;
    /* display: inline-block; */
    margin-right: 5px;
    font-size: 20px;
}

.text .text_inner .saved_money {
    display: inline-block;
    color: #333;
    font-size: 18px;
}

.text .text_inner .saved_money .saved_badge {
    font-size: 15px;
    background-color: #cf82df; 
    padding: 1px 4px; 
    border-radius: 5px; color: #fff;
    display: inline-block;
    margin-right: 2px;
}



.xi-heart {
    color: red;
}

.heart_btn {
    position: relative;
    /* bottom: 20px;
    right: 20px; */
}

.heart_btn i {
    position: absolute;
    right: 45px;
    top: -40px;
    font-size: 35px;
}

.heart_btn i:hover {
    cursor: pointer;
}

.new_item .swiper .swiper-button-prev,
.new_item .swiper .swiper-button-next {
    color: #333;
    background-color: rgba(240, 240, 240, 0.5);
    padding: 10px;
}

.best_item .swiper .swiper-button-prev,
.best_item .swiper .swiper-button-next {
    color: #333;
    background-color: rgba(240, 240, 240, 0.5);
    padding: 10px;
}




/* ----------------item_list------------------ */




/* ----------------edition------------------ */

.edition {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 50px;
}

.edition .edition_box {
    width: 640px;
}

.edition .edition_box .text_title_box {
    /* text-align: center; */
    border-left: 5px solid #333;
    margin-bottom: 20px;
    padding-left: 20px;
}
.edition .edition_box .text_title_box .title {
    font-weight: bold;
    font-family: 'Alata', sans-serif;
    font-size: 35px;
}
.edition .edition_box .text_title_box .sub_title {
    font-size: 18px;
    line-height: 30px;
}

.edition .edition_box .edition_banner {
    margin-bottom: 20px;
}
.edition .edition_box .edition_banner a img {
    width: 100%;
}

.edition .edition_box .swiper {
    padding-bottom: 40px;
}
.edition .edition_box .swiper .swiper-wrapper .swiper-slide a .img_box {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.edition .edition_box .swiper .swiper-wrapper .swiper-slide a .img_box img {
    width: 100%;
}

.edition .edition_box .swiper .swiper-wrapper .swiper-slide a .img_box .text_box {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 200px;
    left: 0;
    background: rgba(90, 90, 90, 0.7);
    text-align: center;
    font-weight: bold;
    color: #fff;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.edition .edition_box .swiper .swiper-wrapper .swiper-slide:hover a .img_box .text_box {
    top: 0;
}

.flower .swiper .swiper-pagination-bullet {
    width: 20px;
    height: 5px;
    border-radius: 0;
}
.flower .swiper .swiper-pagination-bullet-active {
    background-color: #333;
}

.signature .swiper .swiper-pagination-bullet {
    width: 20px;
    height: 5px;
    border-radius: 0;
}
.signature .swiper .swiper-pagination-bullet-active {
    background-color: #333;
}



/* ----------------edition------------------ */






/* ---------------- bg_img_banner ------------------ */

.bg_img_banner {
    padding: 200px 0;
    /* background: url(../img/bg_img_banner_01.jpg) no-repeat fixed center center/contain; */
    background: url(../img/shop_about_02_1.jpg) no-repeat fixed center center;
    /* background: url(../img/shop_about_03.jpg) no-repeat fixed center center; */
}


/* ---------------- bg_img_banner ------------------ */




/* ---------------- aroma_category ------------------ */

.aroma_category {
    margin-bottom: 100px;
}

.aroma_category h3 {
    margin-bottom: 30px;
}

.aroma_category h3::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 30px;
    vertical-align: middle;
    background-color: #333;
    margin-right: 10px;
}

.aroma_category .swiper .swiper-wrapper .swiper-slide a .product_img {
    width: 200px;
    height: 200px;
}

.aroma_category .swiper .swiper-wrapper .swiper-slide a .product_img img {
    width: 100%;
}

.aroma_category .swiper .swiper-wrapper .swiper-slide a .text {
    text-align: center;
    width: 200px;
    height: 50px;
}

.aroma_category .swiper .swiper-button-prev,
.aroma_category .swiper .swiper-button-next {
    color: #333;
    background-color: rgba(240, 240, 240, 0.5);
    padding: 10px;
    top: 40%;
}



/* ---------------- aroma_category ------------------ */




/* ---------------- movieBg ------------------ */

.movieBg {
    width: 100%;
    height: 484px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.movieBg .text_box {
    border-left: 5px solid #333;
    box-sizing: border-box;
    padding: 30px;
    font-family: 'Alata', sans-serif; 
    font-size: 40px;
}

.movieBg .movieBg_play {
    width: 860px;
    height: 484px;
}


/* ---------------- movieBg ------------------ */




/* ---------------- demeter_Community ------------------ */

.demeter_Community {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.demeter_Community .community {
    flex: 4;
    margin-right: 20px;
}

.demeter_Community .sns_banner {
    flex: 2;
}


/* ---------------- community ------------------ */

#tab01, #tab02, #tab03 {display: none;}

.sheet01, .sheet02, .sheet03 {display: none;}

#tab01:checked ~ .sheet .sheet01 {display: block;}
#tab02:checked ~ .sheet .sheet02 {display: block;}
#tab03:checked ~ .sheet .sheet03 {display: block;}

#tab01:checked ~ .label .lab01 {background-color: #333; color: #ddd;}
#tab02:checked ~ .label .lab02 {background-color: #333; color: #ddd;}
#tab03:checked ~ .label .lab03 {background-color: #333; color: #ddd;}

.sheet>div ul li {
    list-style: square;
}

.demeter_Community .community .label {
    display: flex;
}

.demeter_Community .community .label label {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    background-color: #ccc;
    color: #333;
    box-sizing: border-box;
    text-transform: uppercase;
    padding-left: 20px;

    /* border: 1px solid #333; */
}

.demeter_Community .community .label label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.demeter_Community .community .sheet {
    /* background: #ddd; */
    border: 5px solid #ddd;
    box-sizing: border-box;
    width: 850px;
    height: 377px;
}

.demeter_Community .community .sheet .plus {
    float: right;
    margin-right: 60px;
}
.demeter_Community .community .sheet .plus:hover {
    text-decoration: underline;
    font-weight: bold;
}

.demeter_Community .community .sheet>div ul {
    padding: 40px 0 10px;
}

.demeter_Community .community .sheet>div ul li {
    border-bottom: 1px dotted #333;
    margin: 0 60px;
}
.demeter_Community .community .sheet>div ul li:hover {
    font-weight: bold;
}

.demeter_Community .community .sheet>div ul li a {
    display: flex;
    justify-content: space-between;
}

.demeter_Community .community .sheet>div ul li a .title {
    width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 33px;
}

.demeter_Community .community .sheet>div ul li a .date {
    line-height: 30px;
}


/* ---------------- community ------------------ */



/* ---------------- sns_banner ------------------ */

.demeter_Community .sns_banner {
    width: 420px;
    height: 420px;
}

.demeter_Community .sns_banner .swiper .swiper-wrapper .swiper-slide a img {
    width: 100%;
}


/* ---------------- sns_banner ------------------ */


/* ---------------- demeter_Community ------------------ */




/* ---------------- bottom_banner ------------------ */

.bottom_banner .img_box {
    width: 900px;
    margin: 0 auto;

    /* border: 1px solid #333; */
}

.bottom_banner .img_box img {
    width: 100%;
}


/* ---------------- bottom_banner ------------------ */





/* ---------------- footer ------------------ */



/* ---------------- footer_label ------------------ */

.footer_label {
    width: 100%;
    height: 50px;
    background-color: #ddd;
}

.footer_label .sns_icom_box {
    width: 195px;
    height: 50px;
    margin: 0 auto;

    /* border: 1px solid #333;
    box-sizing: border-box; */
}

.footer_label .sns_icom_box a i {
    font-size: 40px;
    line-height: 50px;
    padding: 0 10px;
    color: #333;
    opacity: 0.7;
}
.footer_label .sns_icom_box a i:hover {
    opacity: 1;
}


/* ---------------- footer_label ------------------ */


/* ---------------- footer_inner ------------------ */


.footer_inner {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
}

.footer_inner h4 {
    font-family: 'Alata', sans-serif; 
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #333;
}

.footer_inner .footerdiv {
    padding: 0 30px;
    border-right: 1px solid #ddd;
    /* padding: 30px 50px 30px 0; */
    padding-right: 50px;
}
.footer_inner .Customer_Service {
    padding-left: 0;
}
.footer_inner .service {
    border-right: none;
    padding-right: none;
}

.footer_inner .Customer_Service .call {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer_inner .Customer_Service .call i {
    padding-right: 10px;
    color: #747474;
}

.footer_inner .inquiry .Messenger i {
    display: block;
    font-size: 50px;
    text-align: center;
    color: #747474;
    margin: 25px 0 20px;
    transition: 0.3s;
}

.footer_inner .inquiry .Messenger:hover {
    cursor: pointer;
}

.footer_inner .inquiry .Messenger:hover i {
    font-size: 53px;
    color: #333;
}

.footer_inner .footer_menu ul li {
    line-height: 25px;
    opacity: 0.8;
    cursor: pointer;
}
.footer_inner .footer_menu ul li:hover {
    opacity: 1;
    font-weight: bold;
}


/* ---------------- footer_inner ------------------ */


/* ---------------- footer_last ------------------ */

.footer_last_outer {
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    padding: 30px 0;
}

.footer_last {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
}

.footer_last div p {
    font-size: 14px;
}

.footer_last div ul {
    display: flex;
}

.footer_last div ul li {
    padding-left: 15px;
    cursor: pointer;
}







/* ---------------- footer_last ------------------ */